<!DOCTYPE html>
<html lang="ja">
<head>
	<title>flocss-demo-widget</title>
	<meta charset="UTF-8">
	<meta name="keywords" content="flocss-demo">
	<meta name="description" content="flocss-demo">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<link rel="stylesheet" href="../src/css/widget.css">
</head>
<body id="page-main" class="">
	<div class="widget-wrap">
	</div>
	<script type="text/javascript"
	 src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<script type="text/javascript" src="../src/js/widget.js"></script>
</body>
</html>