<!DOCTYPE html>
<html lang="ja">
<head>
	<title>flocss-demo-widget</title>
	<meta charset="UTF-8">
	<meta name="keywords" content="flocss-demo">
	<meta name="description" content="flocss-demo">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<link rel="stylesheet" href="../src/css/widget_falcon.css">
</head>
<body id="page-main" class="body-widget">
	<div id="page-contents" class="widget-wrap">
		<h1 class="title-widget">検索モジュール</h1>
		<div id="widget-form">
			<form>
				<h2 class="input-title">簡単一発検索</h2>
				<ul class="input-wrap-pickup u-cf">
					<li class="input-wrap-pickup__item">
						<label id="rp1" class="c-input-label c-input-label--category">
							<input for="rp1" type="radio" name="radioPickup" value="1" class="c-checkbox js-pickup_radio">Pickup1
						</label>
					</li>
					<li class="input-wrap-pickup__item">
						<label id="rp2" class="c-input-label c-input-label--category">
							<input for="rp2" type="radio" name="radioPickup" value="1" class="c-checkbox js-pickup_radio">Pickup2
						</label>
					</li>
					<li class="input-wrap-pickup__item">
						<label id="rp3" class="c-input-label c-input-label--category">
							<input for="rp3" type="radio" name="radioPickup" value="1" class="c-checkbox js-pickup_radio">Pickup3
						</label>
					</li>
					<li class="input-wrap-pickup__item">
						<label id="rp4" class="c-input-label c-input-label--category">
							<input for="rp4" type="radio" name="radioPickup" value="1" class="c-checkbox js-pickup_radio">Pickup4
						</label>
					</li>
				</ul>
				<h2 class="input-title">細かい条件で探す</h2>
				<ul class="input-wrap">
					<li class="input-wrap__item u-cf ui-list--pc">
						<div class="item-title">
							<h3>項目1</h3>
						</div>
						<ul class="ui-list ui-list--pair js-ui-list--pair">
							<li class="ui-list__item ui-list__item--pair">
								<input type="checkbox" value="1" id="chckbox1_1" class="c-checkbox c-checkbox js-checkbox">
								<label for="chckbox1_1" class="c-input-label">item1/item2</label>
							</li>
							<li class="ui-list__item ui-list__item--pair">
								<input type="checkbox" value="2" id="chckbox1_2" class="c-checkbox js-checkbox">
								<label for="chckbox1_2" class="c-input-label">item1/item3</label>
							</li>
							<li class="ui-list__item ui-list__item--pair">
								<input type="checkbox" value="3" id="chckbox1_3" class="c-checkbox js-checkbox">
								<label for="chckbox1_3" class="c-input-label">item1/item4</label>
							</li>
							<li class="ui-list__item ui-list__item--pair">
								<input type="checkbox" value="4" id="chckbox1_4" class="c-checkbox js-checkbox">
								<label for="chckbox1_4" class="c-input-label">item1/item5</label>
							</li>
							<li class="ui-list__item ui-list__item--pair">
								<input type="checkbox" value="5" id="chckbox1_5" class="c-checkbox js-checkbox">
								<label for="chckbox1_5" class="c-input-label">item1/item6</label>
							</li>
							<li class="ui-list__item ui-list__item--pair">
								<input type="checkbox" value="3" id="chckbox1_3" class="c-checkbox js-checkbox">
								<label for="chckbox1_3" class="c-input-label">item1/item7</label>
							</li>
							<li class="ui-list__item ui-list__item--pair">
								<input type="checkbox" value="4" id="chckbox1_4" class="c-checkbox js-checkbox">
								<label for="chckbox1_4" class="c-input-label">item1/item8</label>
							</li>
							<li class="ui-list__item ui-list__item--pair">
								<input type="checkbox" value="5" id="chckbox1_5" class="c-checkbox js-checkbox">
								<label for="chckbox1_5" class="c-input-label">item1/item9</label>
							</li>
							<li class="ui-list__item ui-list__item--pair">
								<input type="checkbox" value="1" id="chckbox1_1" class="c-checkbox js-checkbox">
								<label for="chckbox1_1" class="c-input-label">item2/item2</label>
							</li>
							<li class="ui-list__item ui-list__item--pair">
								<input type="checkbox" value="2" id="chckbox1_2" class="c-checkbox js-checkbox">
								<label for="chckbox1_2" class="c-input-label">item2/item3</label>
							</li>
							<li class="ui-list__item ui-list__item--pair">
								<input type="checkbox" value="3" id="chckbox1_3" class="c-checkbox js-checkbox">
								<label for="chckbox1_3" class="c-input-label">item2/item4</label>
							</li>
							<li class="ui-list__item ui-list__item--pair">
								<input type="checkbox" value="4" id="chckbox1_4" class="c-checkbox js-checkbox">
								<label for="chckbox1_4" class="c-input-label">item2/item5</label>
							</li>
							<li class="ui-list__item ui-list__item--pair">
								<input type="checkbox" value="5" id="chckbox1_5" class="c-checkbox js-checkbox">
								<label for="chckbox1_5" class="c-input-label">item2/item6</label>
							</li>
							<li class="ui-list__item ui-list__item--pair">
								<input type="checkbox" value="3" id="chckbox1_3" class="c-checkbox js-checkbox">
								<label for="chckbox1_3" class="c-input-label">item2/item7</label>
							</li>
							<li class="ui-list__item ui-list__item--pair">
								<input type="checkbox" value="4" id="chckbox1_4" class="c-checkbox js-checkbox">
								<label for="chckbox1_4" class="c-input-label">item2/item8</label>
							</li>
							<li class="ui-list__item ui-list__item--pair">
								<input type="checkbox" value="5" id="chckbox1_5" class="c-checkbox js-checkbox">
								<label for="chckbox1_5" class="c-input-label">item2/item9</label>
							</li>
							<li class="ui-list__item ui-list__item--pair">
								<input type="checkbox" value="1" id="chckbox1_1" class="c-checkbox js-checkbox">
								<label for="chckbox1_1" class="c-input-label">item3/item2</label>
							</li>
							<li class="ui-list__item ui-list__item--pair">
								<input type="checkbox" value="2" id="chckbox1_2" class="c-checkbox js-checkbox">
								<label for="chckbox1_2" class="c-input-label">item3/item3</label>
							</li>
							<li class="ui-list__item ui-list__item--pair">
								<input type="checkbox" value="3" id="chckbox1_3" class="c-checkbox js-checkbox">
								<label for="chckbox1_3" class="c-input-label">item3/item4</label>
							</li>
							<li class="ui-list__item ui-list__item--pair">
								<input type="checkbox" value="4" id="chckbox1_4" class="c-checkbox js-checkbox">
								<label for="chckbox1_4" class="c-input-label">item3/item5</label>
							</li>
							<li class="ui-list__item ui-list__item--pair">
								<input type="checkbox" value="5" id="chckbox1_5" class="c-checkbox js-checkbox">
								<label for="chckbox1_5" class="c-input-label">item3/item6</label>
							</li>
							<li class="ui-list__item ui-list__item--pair">
								<input type="checkbox" value="3" id="chckbox1_3" class="c-checkbox js-checkbox">
								<label for="chckbox1_3" class="c-input-label">item3/item7</label>
							</li>
							<li class="ui-list__item ui-list__item--pair">
								<input type="checkbox" value="4" id="chckbox1_4" class="c-checkbox js-checkbox">
								<label for="chckbox1_4" class="c-input-label">item3/item8</label>
							</li>
							<li class="ui-list__item ui-list__item--pair">
								<input type="checkbox" value="5" id="chckbox1_5" class="c-checkbox js-checkbox">
								<label for="chckbox1_5" class="c-input-label">item3/item9</label>
							</li>
						</ul>
						<div class="wrap-btn-toggle">
							<div class="btn-toggle js-btn-toggle">ペアを開く</div>
						</div>
					</li>
					<li class="input-wrap__item u-cf">
						<div class="item-title">
							<h3>項目2</h3>
						</div>
						<ul class="ui-list u-pl5">
							<li class="ui-list__item">
								<input type="radio" name="radio1" value="11" id="radio1_1" class="js-radio">
								<label for="radio1_1" class="c-input-label c-input-label--radio">item1</label>
							</li>
							<li class="ui-list__item">
								<input type="radio" name="radio1" value="12" id="radio1_2" class="js-radio">
								<label for="radio1_2" class="c-input-label c-input-label--radio">item2</label>
							</li>
							<li class="ui-list__item">
								<input type="radio" name="radio1" value="13" id="radio1_3" class="js-radio">
								<label for="radio1_3" class="c-input-label c-input-label--radio">item3</label>
							</li>
							<li class="ui-list__item">
								<input type="radio" name="radio1" value="14" id="radio1_4" class="js-radio">
								<label for="radio1_4" class="c-input-label c-input-label--radio">item4</label>
							</li>
							<li class="ui-list__item">
								<input type="radio" name="radio1" value="15" id="radio1_5" class="js-radio">
								<label for="radio1_5" class="c-input-label c-input-label--radio">item5</label>
							</li>
						</ul>
					</li>
					<li class="input-wrap__item u-cf">
						<div class="item-title">
							<h3>項目3</h3>
						</div>
						<ul class="ui-list u-pl5">
							<li class="ui-list__item">
								<input type="radio" name="radio2" value="11" id="radio2_1" class="js-radio">
								<label for="radio2_1" class="c-input-label c-input-label--radio">item1</label>
							</li>
							<li class="ui-list__item">
								<input type="radio" name="radio2" value="12" id="radio2_2" class="js-radio">
								<label for="radio2_2" class="c-input-label c-input-label--radio">item2</label>
							</li>
						</ul>
					</li>
					<li class="input-wrap__item u-cf">
						<div class="item-title">
							<h3>項目4</h3>
						</div>
						<ul class="ui-list u-pl5">
							<li class="ui-list__item">
								<input type="checkbox" value="1" id="chckbox2_1" class="c-checkbox js-checkbox">
								<label for="chckbox2_1" class="c-input-label">item1</label>
							</li>
							<li class="ui-list__item">
								<input type="checkbox" value="2" id="chckbox2_2" class="c-checkbox js-checkbox">
								<label for="chckbox2_2" class="c-input-label">item2</label>
							</li>
						</ul>
					</li>
				</ul>
				<div class="ui-list--sp">
					<h2 class="input-title">通貨ペア数</h2>
					<ul class="input-wrap">
						<li class="input-wrap__item u-cf">
							<ul class="ui-list ui-list--pair js-ui-list--pair">
								<li class="ui-list__item ui-list__item--pair">
									<input type="checkbox" value="1" id="chckbox1_1" class="c-checkbox c-checkbox js-checkbox">
									<label for="chckbox1_1" class="c-input-label">item1/item2</label>
								</li>
								<li class="ui-list__item ui-list__item--pair">
									<input type="checkbox" value="2" id="chckbox1_2" class="c-checkbox js-checkbox">
									<label for="chckbox1_2" class="c-input-label">item1/item3</label>
								</li>
								<li class="ui-list__item ui-list__item--pair">
									<input type="checkbox" value="3" id="chckbox1_3" class="c-checkbox js-checkbox">
									<label for="chckbox1_3" class="c-input-label">item1/item4</label>
								</li>
								<li class="ui-list__item ui-list__item--pair">
									<input type="checkbox" value="4" id="chckbox1_4" class="c-checkbox js-checkbox">
									<label for="chckbox1_4" class="c-input-label">item1/item5</label>
								</li>
								<li class="ui-list__item ui-list__item--pair">
									<input type="checkbox" value="5" id="chckbox1_5" class="c-checkbox js-checkbox">
									<label for="chckbox1_5" class="c-input-label">item1/item6</label>
								</li>
								<li class="ui-list__item ui-list__item--pair">
									<input type="checkbox" value="3" id="chckbox1_3" class="c-checkbox js-checkbox">
									<label for="chckbox1_3" class="c-input-label">item1/item7</label>
								</li>
							</ul>
							<div class="wrap-btn-toggle">
								<div class="btn-toggle js-btn-toggle">ペアを開く</div>
							</div>
						</li>
					</ul>
				</div>
				<div class="widget-submit-box">
					<input type="submit" value="Search" class="c-btn c-btn--search">
				</div>
			</form>
		</div>
	</div>
	<script type="text/javascript"
	 src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<script type="text/javascript" src="../src/js/partials/widget_falcon.js"></script>
</body>
</html>