@charset "utf-8";
/*
 * page-defのABスタイル
 */ 

// ===============================================================
// Foundation
// ===============================================================


// ===============================================================
// Layout
// ===============================================================


// ===============================================================
// Object
// ===============================================================
// --------------------------------------------
// Component
// --------------------------------------------
.c-test {
	display: block;
}

// --------------------------------------------
// Project
// --------------------------------------------
.p-test {
	display: block;
}

.p-test2 {
	display: block;
	border: 1px solid #dfdfdf;
}

// --------------------------------------------
// Utility
// --------------------------------------------
.u-test {
	display: block;
}
