@charset "utf-8";
/*
 * object/component/_media.scss
 */

.c-media-item {
	border: 1px solid #dfdfdf;
	box-sizing: border-box;
	cursor: pointer;
	.c-media-item__img {
		width: 100%;
	}
	.c-media-item__body {
		padding: 10px;
		opacity: 0;
		-webkit-transition: all .5s;
		-moz-transition: all .5s;
		transition: all .5s;
		.title,
		.text {
			color: #ffffff;
		}
		.title,
		.text,
		.link {
			-webkit-text-shadow: 0 1px 3px rgba(0,0,0,.5);
			text-shadow: 0 1px 3px rgba(0,0,0,.5);
		}
		.title {
			margin-bottom: 5px;
			@include font14;
			font-weight: bold;
		}
		.text {
			min-height: 20px;
			margin-bottom: 10px;
			@include font11;
		}
		.link {
			width: 120px;
		}
	}
	&:hover {
		.c-media-item__body {
			opacity: 1;
			-webkit-transition: all .5s;
			-moz-transition: all .5s;
			transition: all .5s;
		}
	}
}
