@charset "utf-8";
/*
 * object/layout/_core.scss
 */
html,
body {
	position: relative;
	min-height: 100%;
}

#l-wrap {
	position: relative;
	width: 100%;
	min-height: 100%;
}

#l-content {
	padding-bottom: 100px;
}

#l-footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 100px;
}