#footer {
	padding: 15px;
	background-color: #cccccc;
	box-sizing: border-box;
}

.footer-lists {
	margin-bottom: 40px;
	.footer-lists__item {
		float: left;
		margin-right: 10px;
		a {
			color: #333333;
		}
	}
}

.copyright {
	text-align: center;
}