@charset "utf-8";
/*
 * object/project/_search.scss
 */
.p-search {
	width: 726px;
	margin-bottom: 20px;
	padding: 10px;
	border: 1px solid #dfdfdf;
	background-color: #ffffff;
	.c-input-label--category:nth-child(6n) {
		margin-right: 0;
	}
}
.p-search__inputbox {

}

.p-search-table {
	width: 726px;
	border: 1px solid #dfdfdf;
}

.p-search-btn-box {
	.c-btn--search {
		margin: 10px auto 0;
	}
}

.p-search-group {
	border-bottom: 1px solid #dfdfdf;
	&:last-child {
		border-bottom: 0 none;
	}
}
.p-search-group__title {
	width: 108px;
	background-color: #a5a5a5;
	color: #ffffff;
}
.p-search-group__inputlist {
	padding-left: 10px;
	&.p-search-group__inputlist--select {
		padding: 5px 10px;
	}
}

.p-search-footer {
	padding: 20px;
	border: 1px solid #dfdfdf;
	background-color: #ffffff;
	box-sizing: border-box;
}
.p-search-footer__box {
	padding-bottom: 15px;
	border-bottom: 1px solid #dfdfdf;
}
.p-search-footer__lists {
	float: left;
	width: 243px;
	margin-right: 20px;
	&:last-child {
		margin-right: 0;
	}
}
.p-search-footer__lists__wrap {
	padding-left: 5px;
}
.p-search-footer-head {
	margin-bottom: 10px;
	padding: 5px;
	background-color: #a5a5a5;
	color: #ffffff;
	&.p-search-footer-head--stratum {
		margin-top: 10px;
	}
}