@charset "utf-8";
/*
 * object/project/_side.scss
 */

.p-side-block {
	margin-bottom: 20px;
	border: 1px solid #dfdfdf;
}

.p-side-block-lists {
	padding: 10px;
}

.p-side-block,
.p-side-block-lists {
	border-radius: 3px;
	background-color: #ffffff;
}

.p-side-block-lists__item {
	margin-bottom: 10px;
	&:last-child {
		margin-bottom: 0;
	}
}