@charset "utf-8";
/*
 * project/_special.scss
 */

.p-kv {
	position: relative;
	width: 100%;
	margin-bottom: 20px;
}
.p-kv__text {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 540px;
	height: 25px;
	margin: auto;
	color: #ffffff;
	@include fs30;
	font-weight: bold;
	-webkit-text-shadow: 0 1px 3px rgba(0,0,0,.5);
	text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

.p-section {
	padding: 0 5px;
}

.p-text-inner-lists {
	padding: 10px;
}
.p-text-inner-lists--last {
	margin-bottom: 30px;
}
.p-text-inner-lists__item {
	margin-bottom: 10px;
	@include fs16;
	&:last-child {
		margin-bottom: 0;
	}
}
.p-text-inner-lists__item--bold {
	@include fs18;
	font-weight: bold;
}
