@charset "utf-8";
/*
 * object/utility/helper.scss
 */

/*
 * display
 */
.u-table {
	display: table;
	table-layout: fixed;
	position: relative;
}
.u-row { display: table-row; }
.u-cell { display: table-cell; }
.u-inline { display: inline; }
.u-inlineBlock { display: inline-block; }

/*
 * state
 */
.u-block { display: block; }
.u-none { display: none; }
.u-hidden { visibility: hidden; }

/*
 * position
 */
.u-relative { position: relative; }
.u-absolute { position: absolute; }
.u-fixed { position: fixed; }

/*
 * dimension
 */
.u-fill { width: 100%; }
.u-half { width: 50%; }
.u-quarter { width: 25%; }
.u-third { width: 33.33%; }
.u-twoThirds { width: 66.66%; }

.u-w10 { width: 10px; }
.u-w20 { width: 20px; }
.u-w50 { width: 50px; }
.u-w100 { width: 100px; }
.u-w150 { width: 150px; }
.u-w200 { width: 200px; }

.u-h10 { height: 10px; }
.u-h20 { height: 20px; }
.u-h50 { height: 50px; }
.u-h100 { height: 100px; }
.u-h150 { height: 150px; }
.u-h200 { height: 200px; }

/*
 * mediaFloat
 */
.u-mdFlt { overflow: hidden; }
.u-mdFlt .u-mdL { float: left; }
.u-mdFlt .u-mdR { float: right; }

.mdFlt .mdL img,
.mdFlt .mdR img {
	display: block;
}

.u-mdFlt .u-otL,
.u-mdFlt .u-otR {
	overflow: hidden;
}

/*
 * clearfix
 */
.u-cf:before,
.u-cf:after {
	content: "";
	display: table;
}
.u-cf:after { clear: both; }
.u-cf { *zoom: 1; }

/*
 * Image replacement
 */
.u-ir {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

/*
 * rotate
 */
.u-trsfR180 {
	-webkit-transform: rotate(-180deg);
	-moz-transform: rotate(-180deg);
	-o-transform: rotate(-180deg);
	-ms-transform: rotate(-180deg);
	transform: rotate(-180deg);
}

.u-overflowHidden {
	text-overflow: clip;
	white-space: nowrap;
	overflow: hidden;
}
.u-ellipsis {
    overflow: hidden;
	white-space: nowrap;
	-webkit-text-overflow: ellipsis;
	text-overflow: ellipsis;
}
.u-breakAll { word-break: break-all; }

/*
 * prevent callout
 */
.u-nocallout { -webkit-touch-callout: none; }

/*
 * A hack for HTML5 contenteditable attribute on mobile
 */
textarea[contenteditable] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */
.u-invisible { visibility: hidden; }
